
body {
    display: flex;
    margin: 0;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: #272729;
    align-items: center;
    justify-content: space-evenly;
    padding: 0% 10%;
    height: 6%;
}


.navbar-link {
    color: #cecece;
    padding: 2px 8px;
    cursor: pointer;
    font-size: 12;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.navbar-link:hover {
    color: #ffffff;
}

.navbar-button {
    background-color: none;
    padding: 0px 10px;
    cursor: pointer;
}

.banner-unicef {
    background-color: #f3f2f2;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: 10%;
    padding: 10px;
}


#enlace-unicef {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 14;
    padding: 0.8vw;
    color: #06c;
}

#enlace-unicef:hover{
    text-decoration: underline;
}

.macbook-air {
    height: 90vh;
    background-image: url("./Images/hero_macbookair__el7scava26mq_large.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex; 
}

.macbook-air-texto{
    height: 100px;
    width: 400px;
    padding: 20%;
    align-items: center;
    justify-content: center;    

}

.headline {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55;
    margin: 0.20vh;
}

#text-macbook-air{
    display: flex;
}

.enlace-masinformación {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 18;
    color: #06c;
    align-content: center;
    justify-content: center;
}

.enlace-masinformación:hover {
    text-decoration: underline;
}
.enlace-comprar {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 18;
    color: #06c;
    align-content: center;
    justify-content: center;
}

.enlace-comprar:hover{
    text-decoration: underline;
}
 
.iphone13-banner {
    height: 90vh;
    background-image: url("images/hero_iphone13_avail__gnqqkzuai6um_largetall.jpeg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    display: flex;
    padding: 300;
}

.texto-iphone13{
    background-color: #fbfbfd;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: 40%;
    padding: 10px;
}

.headline-iphone13 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 55;
    margin: 1.2vh;
    align-content: center;
    justify-content: center;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28;
    margin: 1.2vh;
    align-content: center;
    justify-content: center;
}

.superpotencia {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50;
    margin: 1.2vh;
    text-align: center;
    justify-content: center;
}

.superpotencia-word {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50;
    margin: 1.2vh;
    text-align: center;
    justify-content: center;
}

.texto-superpotencia {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25;
    margin: 1.2vh;
    text-align: center;
    justify-content: center;
}

.enlace-comprar-ahorro {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 18;
    margin: 1.2vh;
    color: #06c;
    justify-content: center;
    align-items: center;
}

.enlace-comprar-ahorro:hover {
    text-decoration: underline;
}

.Ahorro {
    background-color: #f7f7f7;
}
.banner-ahorro{
    padding: 300;
    background-image: url(./Images/hero_bts__bcuslanw39xe_largetall.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}


.display-flex {
    column-count: 2;
    display: block;
}

.Watch,
.iphonepro {
    height: 600px;
    width: 600px;
}

.Watch {
    background-color: yellow;
    background-image: url(./Images/promo_watch_lte__djeaso7ukrsm_large.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.texto-watch {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18;
    margin: 1.2vh;
    text-align: center;
    justify-content: center;
}

.text-macbook-air {
    display: flex;
    padding: 40px;
}

.iphonepro {
    background-color: green;
    background-image: url(./Images/promo_iphone13pro_avail__beadms4ldidu_large.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.prodigioso-iphone13 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30;
    margin: 1.2vh;
    text-align: center;
    justify-content: center;
}

.prodigioso-texto {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18;
    margin: 1.2vh;
    text-align: center;
    justify-content: center;
}



.footer-apple {
    background-color: #f5f5f7;
    height: 90vh;
    column-count: 5;
    align-content: space-between;
} 

.cuadrado-footer {
    height: 80vh;
    box-sizing: content-box;
    padding: 20px;
}

.cuadrado-footer h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12;
    color: #424245;
}

.cuadrado-footer a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12;
    display: block;
    margin-bottom: 20px;
    color:#6e6e73;
    text-decoration: none;
}

.copyright {
    padding: 40;
}


.copyright-h1 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12;
    color: #737375;
}

.copyright-link {
    color:#737375;
    padding: 2px 8px;
    cursor: pointer;
    font-size: 12;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

}

.copyright-link:hover {
    text-decoration: underline;
}

.copyright-linkp {
    color: rgb(38, 145, 181);
    padding: 2px 8px;
    text-decoration: none;
    cursor: pointer;
    font-size: 12;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

}

.copyright-linkp:hover {
    text-decoration: underline;
}