
body {
    display: flex;
    margin: 0;
    flex-direction: column;
    align-content: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: #272729;
    align-items: center;
    justify-content: space-evenly;
    padding: 0% 10%;
}


.navbar-link {
    color: #cecece;
    padding: 0px 8px;
    cursor: pointer;
    font-size: 10;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.navbar-link:hover {
    color: #ffffff;
}

.navbar-button {
    background-color: none;
    padding: 0px 10px;
    cursor: pointer;
}

.banner-unicef {
    background-color: #fbfbfb;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 14px;
    padding: 20px 0;
    text-align: center;
    height: 8%;
}

.enlace-unicef {
    text-align: center;
    align-content: center;
    font-size: medium;
    color: #0066cc;

}

.model-contents {
        background-color: rgba (255, 255, 255, 0.92);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.information-buy-links {
    display: flex;
    flex-direction: row;
}

.headline {
    font-size: x-large;
    margin: 1.2vh;
}

#macbook-air-img {
    background-color: #fbfbfd;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 1000px 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1vw;
}





footer {
    border: 1px solid red;
}