
body {
    display: flex;
    margin: 0;
    flex-direction: column;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: #272729;
    align-items: center;
    padding: 0% 30%;
}

.navbar-link {
    color: #cecece;
    padding: 0px 8px;
    cursor: pointer;
    font-size: 10;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "sf pro text","Myriad Set Pro", "Helvetica Neue";
}

#logo {
    padding: 0px 10px;
}

.banner-unicef {
    border: 1px solid aqua;
}

.products-highlights {
    border: 1px solid yellowgreen
}

footer{ 
    border: 1px solid red;
}